// creates an assortment of classes for each
// item passed into $spacer-array
.m0 { margin: 0; }
.mt0 { margin-top: 0; }
.mr0 { margin-right: 0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left: 0; }
.mx0 { margin-left: 0; margin-right: 0; }
.my0 { margin-top: 0; margin-bottom: 0; }

.p0 { padding: 0; }
.pt0 { padding-top: 0; }
.pr0 { padding-right: 0; }
.pb0 { padding-bottom: 0; }
.pl0 { padding-left: 0; }
.px0 { padding-left: 0; padding-right: 0; }
.py0 { padding-top: 0; padding-bottom: 0; }

@for $i from 1 through 20 {
  .m#{$i}  { margin: #{$i}rem; }
  .mt#{$i} { margin-top: #{$i}rem; }
  .mr#{$i} { margin-right: #{$i}rem; }
  .mb#{$i} { margin-bottom: #{$i}rem; }
  .ml#{$i} { margin-left: #{$i}rem; }
  .mx#{$i} { margin-left: #{$i}rem; margin-right: #{$i}rem; }
  .my#{$i} { margin-top: #{$i}rem; margin-bottom: #{$i}rem; }

  .p#{$i}  { padding: #{$i}rem; }
  .pt#{$i} { padding-top: #{$i}rem; }
  .pr#{$i} { padding-right: #{$i}rem; }
  .pb#{$i} { padding-bottom: #{$i}rem; }
  .pl#{$i} { padding-left: #{$i}rem; }
  .px#{$i} { padding-left: #{$i}rem; padding-right: #{$i}rem; }
  .py#{$i} { padding-top: #{$i}rem; padding-bottom: #{$i}rem; }
}
